body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34446e;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f5f0ece2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #495a67;
  }
  
  .add-task {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"], input[type="date"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #404d62;
    border-radius: 3px;
  }
  button {
    padding: 10px;
    cursor: pointer;
    background-color: #4e7b96;
    color: #fff;
    border: none;
    border-radius: 18px;
  }
  button:hover{
    background-color: #00A300;
  }
  
  .filter-options {
    margin-bottom: 10px;
  }
  
  .filter-options button {
    margin-right: 5px;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ced4da;
    padding: 10px 0;
  }
  
  .completed-task {
    text-decoration: line-through;
    color: #6c757d;
  }
  
  .task-actions {
    display: flex;
    gap: 10px;
  }
  
  .task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-footer p {
    color: #6c757d;
  }
  
  .task-footer button {
    padding: 10px;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 3px;
  }